<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shell Scripting</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    

</head>
<body ng-controller="myCtrl">
    <div class="container-fluid" >
    <div class="row">
        <div class="col-md-2">
            <p>
                Search : 
                <input style="color:black" ng-model="query"/> 
            </p>
        </div>
        <div class="col-md-10">
            <ul class="commands">
                <li class="thumbnail" ng-repeat="command in commands | filter:query">
                    <a href="#" ng-click="al(command)">
                        <span class="set-sp">{{command.name}}</span>
                        <p class="set-p">{{command.desc}}</p>
                    </a>
                </li>
            </ul>
            <form class="form-cm" >
                    <!--Create File-->
                    <p ng-show="showPathCreateFile">Path : </p> 
                    <input ng-show="showPathCreateFile" name="fileCrPath" style="color:black; float: left; margin:10px" />
                    <p ng-show="showFileNameCreateFile">File Name : </p> 
                    <input  ng-show="showFileNameCreateFile" name="fileCr" style="color:black; float: left; margin:10px" />
                    <input type="submit" name="createFile" ng-show="showBtnCreateFile" class="btn btn-primary" value=" Create ">

                    <!-- Delete File-->
                    <p ng-show="showPathDelFile">Path : </p> 
                    <input ng-show="showPathDelFile" name="fileDelPath" style="color:black; float: left; margin:10px" />
                    <p ng-show="showFileNameDelFile">File Name : </p> 
                    <input ng-show="showFileNameDelFile" name="fileDel" style="color:black; float: left; margin:10px" />
                    <input type="submit" ng-show="showBtnDelFile" name="deleteFile" class="btn btn-primary" value=" Delete ">

                    <!--Move File-->
                    <p ng-show="showPathMoveFile">Current Path : </p> 
                    <input ng-show="showPathMoveFile" name="fileMovePath" style="color:black; float: left; margin:10px" />
                    <p ng-show="showPathMoveFile">File Name : </p> 
                    <input  ng-show="showPathMoveFile" name="fileMove" style="color:black; float: left; margin:10px" />
                    <p ng-show="showPathMoveFile">New Path : </p> 
                    <input  ng-show="showPathMoveFile" name="fileMoveNewPath" style="color:black; float: left; margin:10px" />
                    <input type="submit" name="moveFile" class="btn btn-primary" value=" Create ">

                    <!--Rename a File-->
                    <p ng-show="showPathReFile">Current Path : </p> 
                    <input ng-show="showPathReFile" name="fileMovePath" style="color:black; float: left; margin:10px" />
                    <p ng-show="showPathReFile">File Name : </p> 
                    <input  ng-show="showPathReFile" name="fileMove" style="color:black; float: left; margin:10px" />
                    <p ng-show="showPathReFile">New Path : </p> 
                    <input  ng-show="showPathReFile" name="fileMoveNewPath" style="color:black; float: left; margin:10px" />
                    <input type="submit" name="moveFile" class="btn btn-primary" value=" Create ">
 
                    
            </form>
        </div>
    </div>
</div>
</body>
</html>