.container-fluid {
    padding-top:30px;
    width: 98.8vw;
    height: 140vh;
    background: rgb(73, 73, 73);
    color: white;
}

li {
    color: black;
}

.heading {
    text-align: center;
    margin-top: -1.5vh;
    padding-bottom: 3vh; 
    font-family: "SimSun";
    font-size: 50px;
}

.set-sp{
    margin-top: 2vh;
    padding-left: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.set-p{
    padding-top: 1vh;
    padding-left: 3vh;
}

.form-cm p {
    font-size: 20px;
    margin: 10px;
    float: left;
}